<div class="container">
  <div class="row justify-content-center">
    <h1>Edit Question</h1>
  </div>
</div>
</br>
<div class="row justify-content-center">
  <%= render 'form', question: @question %>
</div>
