<h1>User</h1>
<div clas="row">
  <div class="col-md-12">
    <% if @user.admin? %>
      <div class="row justify-content-center">
        <%= link_to '<button type="button">Add Course</button>'.html_safe, new_course_path %>
        <%= link_to '<button type="button">Add Lesson</button>'.html_safe, new_lesson_path %>
        <%= link_to '<button type="button">Set Question</button>'.html_safe, new_question_path %>

      </div>
    <% else %>
      <div class="row justify-content-center">
        <%= link_to '<button type="button">Attend Quiz exam</button>'.html_safe, exams_path %>
      </div>
  <% end %>
  </div>
</div>
