<h1>Lesson</h1>
<div clas="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <th>Course name</th>
      <th>Lesson name</th>
      </thead>
      <tbody>
      <tr>
        <td><%= @lesson.course.name %></td>
        <td><%= @lesson.name %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
